*{
    border: 1px solid black;
}


.furnitures-container{
    display: flex;
    width: 100%;
}


.furniture{
    padding-left: 1%;
    padding-right: 1%;
}

.furn-data{
    margin-top: 1%;
    margin-right: 1%;
}

.furniture-description{
    display: flex;
    flex-direction: column;
}

.furn-price-rating-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.furn-data.type{
    color: grey;
}

.furn-data.name{
    font-weight: bold;
}

.furn-data.price{
    color: green;
}