/* *{
    border: 1px solid black;
}*/

table{
    display: flex;
    justify-content: space-around;
}

/*To refactor later*/
.furniture{
    padding-left: 15px;
    padding-right: 15px;
}

.furn-data{
    margin-top: 1%;
    margin-right: 1%;
}

.furniture-description{
    display: flex;
    flex-direction: column;
}

.furn-price-rating-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.furn-data.type{
    color: grey;
}

.furn-data.name{
    font-weight: bold;
}

.furn-data.price{
    color: green;
}